.navbar {
    background-color: rgba(93, 154, 179, 0.829);
    text-transform: uppercase;
}

.nav-item {
    align-items: center;
    display: flex;
}

.h1 {
    font-size: larger;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
}